@import "tailwindcss";

/* theme switch selectors */
@custom-variant dark (&:where(.dark, .dark *));

/* -------------------- */
/* LIGHT THEME DEFAULT  */
/* -------------------- */
:root,
.light {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-white: #ffffff;
  --color-black: #000000;
}

/* -------------------- */
/* DARK THEME INVERTED  */
/* same as your config  */
/* -------------------- */
.dark {
  --color-gray-50: #111827;
  --color-gray-100: #1f2937;
  --color-gray-200: #374151;
  --color-gray-300: #4b5563;
  --color-gray-400: #6b7280;
  --color-gray-500: #9ca3af;
  --color-gray-600: #d1d5db;
  --color-gray-700: #e5e7eb;
  --color-gray-800: #f3f4f6;
  --color-gray-900: #f9fafb;

  --color-white: #030712;
  --color-black: #f9fafb;
}

/* -------------------- */
/* base */
/* -------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

body {
  @apply text-sm bg-gray-50 text-gray-900;
}

/* custom rows */
@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 7.5vh);
  }
}
